<form class="ui stacked segment form" action="/dashboard/addassessment" method="POST">
  <div class="field">
    <label>Weight</label>
    <input placeholder="Weight" type="text" name="weight">
  </div>
  <button class="ui blue submit button">Add Assessment</button>
</form>