{{#each members}}
    <table class="ui table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
    <tbody>
    <tr>
        <td>
            <a href="/dashboard/member/{{id}}/assessments">{{firstName}} {{lastName}}</a>
        </td>
        <td>
            <a href="/trainerdashboard/deleteMember/{{id}}" class="ui icon button">
                <i class="icon trash"></i>
            </a>
        </td>
    </tr>
{{/each}}
</tbody>
</table>
