{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Welcome To Play Gym Web JS
  </h3>
  <p>
    This App is the Play Gym App for ICT-Skills
  </p>
  <p>
    This project is built with Javascript/Glitch
  </p>
</section>