{{> menu id="account"}}

<section class="ui center aligned middle aligned segment">
    <h3>
        User Account Details
        {{user}}
    </h3>
</section>
<div class="ui two column grid basic middle aligned segment">
    <div class="column">
<form class="ui stacked segment form" action="/dashboard/updateProfile" method="POST">
    <div class="two fields">
        <div class="required field">
            <label>First Name</label>
            <input placeholder={{user}} type="text" name="name">
        </div>
        <div class="required field">
            <label>Last Name</label>
            <input placeholder={{user}} type="text" name="name">
        </div>
        </div>
        <div class="grouped fields">
        <label>Gender</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="gender" value="female">
                <label>Female</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="gender"value ="male">
                <label>Male</label>
            </div>
            </div>
        </div>
        <div class="required field">
        <label>Email</label>
        <input placeholder=${member.email} type="text" name="email">
     </div>
    <div class="required field">
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <button class="ui blue submit button">Submit</button>
</form>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="person-avatar.png">
            </div>
            <div class="content">
                <a class="header">{{user}}</a>
                <div class="meta">
                    <span class="date">Joined in ****</span>
                </div>
                <div class="description">
                    Member Description
                </div>
            </div>
        </div>
    </div>
</div>