{{> menu id="trainermemberdetails"}}

<section class="ui segment">
    <h2 class="ui header">
        <section class="ui segment">
            <div class="ui equal width four column grid">
                <div class ="column">
                    <i class="huge icon user"></i>
                    <div class="row">
                        {{user}}
                    </div>
                </div>
                <div class ="column">
                    <i class="{{idealWeightInd}} huge icon tachometer alternate"></i>
                    <div class="row">
                        IDEAL WEIGHT INDICATOR
                    </div>
                </div>
                <div class ="column">
                    <i class="huge icon heartbeat"></i>
                    <div class="row">
                        {{bmi}}
                    </div>
                </div>
                <div class ="column">
                    <i class="huge icon user doctor"></i>
                    <div class="row">
                        {{bmiCategory}}
                    </div>
                </div>
            </div>
        </section>
    </h2>
    {{> listmemberassessments}}

</section>